{% extends "layout.jinja2" %}

{% block content %}
<div class="row">
  <div class="col-md-2">
    <img class="logo img-responsive"
         src="{{ request.static_url('pixie:static/pixie.png') }}"
         alt="Prix Pixie">
  </div>
  <div class="col-md-10">
    <div class="content">
      <h1>Prix <span class="font-semi-bold">Pixie</span>
      <span class="smaller">Plateforme de test</span></h1>
      <p class="lead">Le prix <span class="font-normal">Pixie</span> du jeu de
      rôle francophone est un prix annuel récompensant les meilleurs jeux de
      rôle parus en français, qu'ils soient imprimés ou numériques.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut finibus
      egestas leo quis pharetra. Pellentesque porta malesuada augue, in
      tincidunt tortor placerat quis. Donec ligula metus, porttitor nec sapien
      pharetra, vulputate interdum magna. Sed placerat, nisi non gravida
      tempus, dolor urna dignissim ante, eu blandit dolor urna non risus. Donec
      lobortis eros enim, id rhoncus lorem tempus vel. Donec in diam dui. Lorem
      ipsum dolor sit amet, consectetur adipiscing elit. In eleifend dolor at
      massa pulvinar, sed lobortis felis malesuada. Vivamus id cursus mauris.
      Nunc cursus in neque in finibus. Pellentesque tempor ultricies
      vulputate.</p>
    </div>
  </div>
  <div class="col-md-4 portrait">
    🎲
  </div>
</div>
<div class="row">
  <div class="col-md-4 portrait">
    🏆
  </div>
  <div class="col-md-8">
    <div class="content">
      <p>Fusce magna orci, tempus eget ligula sed, euismod consequat nisi.
      Aenean sit amet sem augue. Suspendisse rutrum sodales risus, non
      ultricies ante faucibus et. Suspendisse turpis metus, fermentum pretium
      velit vel, rhoncus dapibus nisl. Duis tellus lorem, ultrices sit amet
      dolor sed, fermentum feugiat velit. Curabitur nec sem sit amet dolor
      varius consectetur. Nunc quis velit aliquam, tempus turpis eget, tempor
      massa. Praesent in augue ut urna luctus sagittis. Nullam efficitur
      egestas dolor, quis bibendum est rutrum viverra. Nunc dignissim risus non
      erat rhoncus pretium. Nullam lectus orci, tempus elementum erat quis,
      tincidunt viverra neque. Etiam condimentum, nunc eu sagittis accumsan,
      lacus nisl laoreet sapien, at sagittis massa justo et ante. Suspendisse
      potenti. Maecenas consequat urna eu neque vestibulum ornare. Sed posuere
      fermentum scelerisque. Curabitur vestibulum vehicula ligula quis
      blandit.</p>
    </div>
  </div>
</div>
{% endblock content %}
