{% extends "layout.jinja2" %}

{% block content %}
<div class="row">
  <div class="content">
    <h1>Jury</h1>
    <p>Bla bla bla, triés sur le volet, bla bla bla, la crème de la crème, bla bla
    bla voici le jury:</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 portrait">
    🦊
  </div>
  <div class="col-md-8">
    <div class="content">
      <h2>Monsieur Renard</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut finibus egestas leo quis pharetra. Pellentesque porta malesuada augue, in tincidunt tortor placerat quis. Donec ligula metus, porttitor nec sapien pharetra, vulputate interdum magna. Sed placerat, nisi non gravida tempus, dolor urna dignissim ante, eu blandit dolor urna non risus. Donec lobortis eros enim, id rhoncus lorem tempus vel. Donec in diam dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eleifend dolor at massa pulvinar, sed lobortis felis malesuada. Vivamus id cursus mauris. Nunc cursus in neque in finibus. Pellentesque tempor ultricies vulputate. </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="content">
      <h2>Madame Licorne</h2>
      <p>Aenean feugiat ultrices massa et malesuada. Pellentesque scelerisque id sem vel scelerisque. Integer scelerisque ante luctus fringilla dapibus. Ut sed lorem eleifend, ornare velit at, fermentum arcu. Vestibulum vel massa nisi. Quisque porta urna mauris, at feugiat mauris elementum at. Ut urna sapien, mattis fringilla aliquet ut, auctor a velit. Pellentesque dui lorem, iaculis eu porttitor ac, interdum eu risus. Vivamus vel lorem elit. Duis arcu sapien, ultrices id quam eget, rutrum tempor tortor. </p>
    </div>
  </div>
  <div class="col-md-4 portrait">
    🦄
  </div>
</div>
{% endblock content %}
