<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="prix Pixie du jeu de rôle francophone">
    <meta name="author" content="Whidou">
    <link rel="shortcut icon" href="{{request.static_url('pixie:static/pixie-16x16.png')}}">

    <title>Prix Pixie</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this scaffold -->
    <link href="{{request.static_url('pixie:static/theme.css')}}" rel="stylesheet">

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->
  </head>

  <body>

    <div id="header">
      <ul>
        <li><a href="/"><img class="logo img-responsive" src="{{request.static_url('pixie:static/pixie.png') }}" alt="Prix Pixie"></a></li>
        <li><a href="/" class="menu">Prix</a></li>
        <li><a href="/jury" class="menu">Jury</a></li>
        <li><a href="/proposition" class="menu">Proposition</a></li>
        <li><a href="/presentation" class="menu">Jeux</a></li>
        <li><a href="/vote" class="menu">Vote</a></li>
        <li><a href="/manage" class="menu">Gestion</a></li>
      </ul>
    </div>

    <div class="starter-template">
      <div class="container">
        {% block content %}
          <div class="row">
            <div class="content">
              <p>No content</p>
            </div>
          </div>
        {% endblock content %}
        <div class="row">
          <div class="links">
            <ul>
              <li><i class="glyphicon glyphicon-cog icon-muted"></i><a href="https://gitlab.com/Whidou/pixie">Projet Gitlab</a></li>
              <li><i class="glyphicon glyphicon-globe icon-muted"></i><a href="https://discord.gg/Rap9exG">Salon Discord</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="copyright">
            Developpé par l'équipe du Prix Pixie
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
