{% extends "layout.jinja2" %}

{% block content %}
<div class="row">
  <div class="content">
    <h1>Gestion</h1>
    <h2>Notifications</h2>
    <ul>
    {% for notification in notifications %}
      <li>{{notification}}</li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}
