{% extends "layout.jinja2" %}

{% block content %}
<div class="row">
  <div class="content">
    <h1>Présentation des candidats</h1>
    <ul>
    {% for candidate in candidates %}
      <li>{{candidate.title}}</li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}
