{% extends "layout.jinja2" %}

{% block content %}
<div class="row">
  <div class="content">
    {% if success is defined %}
      {% if success %}
        <div class="alert alert-success"><i>{{title}}</i> a bien été inscrit dans la catégorie « <b>{{category}}</b> ».</div>
      {% else %}
        <div class="alert alert-danger">Erreur: {{message}}.</div>
      {% endif %}
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="content">
    <h1>Proposition de candidat</h1>
    {% autoescape false %}
        {{form}}
    {% endautoescape %}
    </ul>
  </div>
</div>
{% endblock content %}
