{% extends "layout.jinja2" %}

{% block content %}
<div class="row">
  <div class="content">
    <h1>Vote</h1>
    <ul>
    {% for vote in votes %}
      <li>{{vote}}</li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}
